<!--预览视图-->
<div class="mall-brands" xmlns:th="http://www.thymeleaf.org" th:id="${componentId}">
    <ul class="brands-list">
        <li class="fore" th:each="mallProduct:${dataList}">
            <a th:href="@{/${mallProduct.contentURI}}" href="javascript:void(0)" target="_blank">
                <img  th:each="galleryItem : ${mallProduct.galleryItems}"
                      res:src="${galleryItem.thumbUri}" src="http://placehold.it/120x20?text=1" />
            </a>
        </li>
    </ul>
</div>
<!--/预览视图-->