<!--预览视图-->
<div class="mall-brands" xmlns:th="http://www.thymeleaf.org" th:id="${componentId}">
    <ul class="brands-list">
        <li class="fore" th:each="mallProduct:${dataList}">
            <a  th:href="@{/${mallProduct.contentURI}}" href="javascript:void(0)"  target="_blank" title="">
                <img  th:each="galleryItem : ${mallProduct.galleryItems}"
                      res:src="${galleryItem.thumbUri}" src="http://placehold.it/100x40?text=1" width="100" height="40" />
            </a>
        </li>
    </ul>
</div>
<!--/预览视图-->